*
{
    margin:0;
    padding:0;
    color:rgb(47, 109, 224);
}

.frame {
    width: 640px;
    height: 480px;
    border: 5px solid black;
    background : blue;
    margin: auto;
    padding: 15px 10px;
}

img {
    display:bolck;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


